client_sercret.json
*.env
*.json
.venv
__pycache__
.vscode
generated_audio/
generated_chunks/
generated_final_videos/
generated_images/
generated_pdf_images/
generated_presentations/
generated_final_videos
templates
generated_presentations
vba-ppt.py
test_to_speech.py
canva.py
template.py
