/* custom.css */
.reveal h1, .reveal h2, .reveal p {
    font-family: 'Inter', sans-serif;
  }
  
  .reveal section {
    color: white;
  }
  
  body.plain-mode .reveal section {
    background: white !important;
    color: black !important;
  }
  
  img {
    max-width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  